*.terraform
*.tfstate.*
*.tfstate
*.tfvars
*.tfplan
.idea
.idea/*
*.pem
*.pivotal
*stemcell*.tgz
terraforming-pks/pks-config.yml
terraforming-pas/srt-config.yml
terraforming-pas/p-healthwatch-config.yml
